<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName /> 
  </label>
  <mat-checkbox #heroIsValid color="primary" >Is Valid!</mat-checkbox>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button (click)="add(heroName.value, heroIsValid.checked); heroName.value=''">
    add
  </button>
</div>
<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> 
      {{hero.name}}   
      {{hero.isValid}}
    </a>
    <mat-checkbox class="readCheckbox" color="primary" [checked]="hero.isValid? 'checked' : null" [disabled]="true"></mat-checkbox>
     <button mat-mini-fab class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
</ul>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->